:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #7ed6df;
    --theme2: #ff6500;
    --header: #012e4a;
    --text: #4f536c;
    --border: #d4dcff;
    --border-2: #d4dced;
    --border-3: #d0e1e7;
    --bg: #d0e1e7;
    --bg2: #f5f5f5;
    --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border-2);
$border-color-3: var(--border-3);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
$shadow: var(--box-shadow);
